<strong>
  Dear, {{ student }}
</strong>
<p>A new enrollment has been created.</p>
<p>
  <strong> Plan: </strong>  {{plan}}  <br/>
  <strong> End Date:  </strong> {{endDate}}  <br/>
  <strong> Price: </strong> {{ totalPayment }}  <br/>
</p>
